{{ partial "header.html" . }}
{{ partial "header-content" . }}

<section class="section-landing">
  <div class="content">
    <img src="/img/short-cb.png" class="logo">
    <h1>CodeBlock Inc</h1>
    <p class="assure">Scale Your People, Tools, and Processes</p>
    <p>Achieve organizational efficiency and transparency with DevOps.</p>

    <a class="btn btn-1 btn-1f btn-action" href="mailto:contact@codeblock.io">
      Contact Us
    </a>
  </div>
</section>

{{ partial "footer-content.html" . }}
{{ partial "footer.html" . }}
